@import url(https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@100;200;300;400;500;600;700&display=swap);

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Libre Caslon Text", serif;
}

.title {
  text-align: center;
  padding: 1rem;
  background: #316cb9;
}

.title > h1 {
  font-size: 4rem;
  letter-spacing: 0.3rem;
  color: white;
}

.recipe_box {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 align-items: center;
}

.item{
    max-width: 600px;
    width: 400px;
    /* height: 30rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0 0.3rem 0.1rem rgba(92, 91, 91, 0.822);
    margin: 1rem 0;
}

.img-box{
    /* width: 60%; */
    height: 250px !important;
}

img{
    width: 100%;
}

.item > h3{
    margin: 1rem 0;
    text-align: center;
    height: 2rem;
}

p{
    height: 6rem;
    overflow: auto;
    text-align: justify;
}

p::-webkit-scrollbar{
    width: 0;
}

a{
    font-size: 1.2rem;
    background: #316cb9;
    padding: 0.5rem 2rem;
    margin-top: 1rem;
    color: white;
    letter-spacing: 1px;
    text-transform: capitalize ;
}
