@import url(https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;800;900&display=swap);
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
}
.todo-title {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 1rem;
}

.search-todo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.search-input {
  width: 55%;
  display: flex;
  align-items: center;
  padding: 0.6rem 1rem;
  border: 1px solid #6c63ff;
  border-radius: 5px;
}
.search-input input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #110a94;
  text-transform: uppercase;
  font-family: inherit;
  letter-spacing: 1px;
}
.search-input img {
  cursor: pointer;
}

.filter-select {
  min-width: 85px;
}
.filter-select select {
  width: 100%;
  padding: 0.6rem 1rem;
  font-size: 16px;
  border: 1px solid #6c63ff;
  border-radius: 5px;
  background: #6c63ff;
  color: #fff;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
}

.notes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.note-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #6b63ff79;
  width: 100%;
  padding: 1rem 0;
}

.note-item > div {
  margin-right: 1rem;
}

.note-item > div input {
  display: none;
}

.note-item > div {
  width: 26px;
  height: 26px;
  border: 1px solid #6c63ff;
  display: block;
  position: relative;
}
.note-item > div::after {
  content: "";
  height: 14px;
  width: 6px;
  display: none;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(30deg);
  border: 3px solid #6c63ff;
  border-left: 3px solid transparent;
  border-top: 3px solid transparent;

}

.note-item h4{
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #252525;
}

.note-item:has(div input:checked) > div::after {
    display: block;
}
.note-item:has(div input:checked) > h4 {
    color: #25252580;
    text-decoration: line-through;
}

.d-none{
    display: none;
}
.d-flex{
    display: flex;
}